:root {
    --base: #042050;
    --shade: #D0A616;
    --text: #FFEFCA;
    --footer: #102A30;
    
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*navigation header*/

.nav-bar {
    background: #ffff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 16px 24px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-bar .logo {
    position: relative;
    font-size: 24px;
    font-weight: 600;
}

.nav-bar .logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #042050;
}

.nav-bar .nav-items {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-bar .nav-items li {
    position: relative;
    list-style: none;
}

.nav-bar .nav-items li a {
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 0 8px;
    padding: 8px 16px;
    color: #042050;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    border-radius: 16px;
}

.nav-bar .nav-items li a:hover {
    background-color: #042050;
    color: white;
    padding: 8px 16px;
    border-radius: 16px;
    transition: 0.5s;
}

/*hero area*/
section {
    padding: 72px;
}

.hero {
    position: relative;
    background: url(../images/gradient.png);
    background-size: cover;
    background-position: right;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero .content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
/*    padding: 72px 0;*/
    margin-top: 180px;
}

.hero .content .heading {
    font-size: 2.7em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 32px;
    color: var(--text);
}

.hero .content .content-bx {
    font-size: 18px;
    font-weight: 500;
    padding: 0 64px;
    color: lightcyan;
    width: 80%;
/*    margin: 0 104px;*/
    text-align: justify;
}

.hero .content .btn {
    margin: 64px;
    padding: 0 24px;
}

.hero .content .btn a {
    margin: auto 16px;
    padding: 8px 16px;
    font-size: 21px;
    text-decoration: none;
    color: var(--text) ;
    text-transform: capitalize;
    border: solid 2px var(--text);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.icons {
    position: relative;
    padding: 32px;
    margin-bottom: 16px;
}

.icons i {
    font-size: 32px;
    padding: 16px;
    color: var(--text);
}

.search {
    position: absolute;
    width: 80%;
    padding: 16px 24px;
    background: none;
    margin-top: 24px;
/*    border-radius: 30px 0;*/
/*
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    
*/
}

.search .heading {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
/*    margin-left: 130px;*/
    text-transform: capitalize;
    color: var(--text);
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 24px;
}

.search input[type="text"] {
    background: none;
    border: none;
    outline: none;
    border-bottom: solid 2px var(--text);
    width: 80%;
    padding-bottom: 16px;
    font-size: 21px;
    color: var(--text);
    text-transform: capitalize
}

.search button {
    background: none;
    color: var(--text);
    border: none;
    font-size: 21px;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-left: -32px;
}

.services .text-bx {
    width: 100%;
    text-align: center;
    line-height: 30px;
}

.services .text-bx h3 {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.services .text-bx h4 {
    font-size: 18px;
    font-weight: 300;
    color: #636361;
    text-transform: capitalize;
}

.services .text-bx p {
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2c;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .service-bx img {
    max-width: 256px;
}

.services .content .service-bx {
    max-width: 320px;
    padding: 40px 20px;
    margin: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

.services .content .service-bx h2 {
    text-transform: uppercase;
}
 
.services .content .service-bx p {
    text-align: justify;
    color: #636361;
}

.services .content .service-bx img, h2, p {
    padding-bottom: 16px;
}

.services .content .service-bx .btn {
    display: inline-block;
    text-decoration: none;
    color: #111;
    
}